<li>
	{{burger_name}}

	<button class="indigestion" data-id="{{id}}" data-newHunger="{{devoured}}">
		{{#if devoured}}SPIT IT UP!{{else}}DEVOUR IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>