
<div class="jumbotron">
<li>
	{{burger_name}}
	
	<button class="change-devoured" data-id="{{id}}" data-new-devour="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}SPIT IT UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
</div>